<!-- MODIFY THIS FOR THE NAV BAR STYLING -->
{% load static %}
<!-- <nav id="main-nav">
  <div class="logo">
    <img src="static/images/logo.png" alt="logo" />
  </div>
  <ul class="nav-links">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about_us' %}">About Us</a></li>
    {% if user.is_authenticated %}
      <li class="user-profile">
        <a href="{% url 'profile' %}">
          <i class="fa-solid fa-user"></i> Hello {{ user.username }}
        </a>
        <a href="{% url 'account_logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="user-profile">
        <a href="{% url 'account_login' %}">Login</a>
      </li>
    {% endif %}
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}" alt="logo" height="30" class="d-inline-block align-top" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">
              <i class="fa-solid fa-user"></i> Hello {{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

